# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Ignore Maven build directories
target/

# Ignore IntelliJ IDEA files
.idea/
*.iml

# Ignore Eclipse files
.settings/
*.launch
*.project
*.classpath
.classpath
.cproject

# Ignore NetBeans files
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignore VS Code files
.vscode/

# Ignore macOS files
.DS_Store
